<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Gruppo&family=Nova+Mono&family=Press+Start+2P&family=Righteous&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="flex-column min-100-vh">
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">Homepage</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            {{#if logged_in}}
            <li class="li-inline nav-item"><a href="/"></a>Logout</li>
            {{else}}
            <li class="li-inline nav-item"><a href="/login"></a>Login</li>
            {{/if}}
        </ul>
    </nav>
    <header class="hero">
        <h1 class="app-title"><a href="/">The Tech Blog</a></h1>
    </header>
    <main class="col-auto">
        {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>
</html>